.bluedots {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2Nkiaqr/7OsqZEBChhhDAwBmEoMFQBP1QgFqojs0QAAAABJRU5ErkJggg==
    ) repeat;
  background-color:#0992CC;
  color:white;
}
::selection {
  background: #98ebb5; /* Safari */
}
::-moz-selection {
  background: #98ebb5; /* Firefox */
}
p strong{
  font-weight:bold;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
  overflow: hidden;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.container-fluid:after {
  clear: both;
}

#hero {
  font-family: "Droid Sans", Helvetica, sans-serif;
  position:relative;
  z-index:9999;
}
#beta-marker{
  position: fixed;
  top: 19px;
  left: 186px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#title{
  overflow: hidden;
  filter: glow(color=black,strength=5);
  z-index: 5;
  display: block;
  position: fixed;
  top: 10px;
  left: 4px;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 5px 5px #000, 4px 4px #000, 3px 3px #000, 2px 2px #000, 1px 1px #000, -1px -1px 0 #000, -2px -2px 0 #000,  1px -1px 0 #000;
  text-align: left;
  text-transform: uppercase;
  padding: 20px 5px 20px 10px;
}
#subhead {
  position: fixed;
  top: 75px;
  left: 23px;
  text-align: center;
  font-size: 11px;
}
#subtitle {
  font-family: "Droid Sans", Helvetica, sans-serif;
  color: white;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: black;
  padding: 5px;
}

#subsubtitle {
  font-family: "Droid Sans", Helvetica, sans-serif;
  color: black;
  z-index: 1;
  position: absolute;
  top: 220px;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: white;
  padding: 5px;
}

nav{
  position: fixed;
  left: 33px;
  top:110px;
  z-index: 9999;

}
#query-encoding-options{
  margin-left:10px;
}
#navmenu ul li a{
  color:black;
}
#section-wrapper{
  margin-top:120px;
  margin-left:240px;
  font-family: "Droid Sans", Helvetica, sans-serif;
}
.section{
  width:85%;
  font-size:13px;
  line-height: 24px;
  margin: 20px;
}
h2{
  position:relative;
  font-weight:bold;
  margin: 40px 0;
  font-size: 30px;
  letter-spacing: 2px;
  padding-top:10px;
}
h2 a {
  color:white;
}
h2 a:hover{
  text-decoration:underline;
}
.bullet{
  position:absolute;
  left:-25px;
}
h2 a:hover .bullet{
  display:block;
}
h3 {
  font-size: 25px;
  letter-spacing: 1px;
  position:relative;
  font-weight:normal;
  margin: 35px 0 15px 0;
}
.btn{
  font-family: "Droid Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.5em 0.75em;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  background: #fff;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-item .btn {
    display: block;
}
.nav-item.active .btn{
  background: #FFFFBD;
}
.nav-item{
  display: block;
}
.btn.disabled{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.btn.disabled:hover{
  cursor:default;
  text-decoration: none;
}
.btn.disabled:active{
  top: 0;
  left: 0;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}
/*.section pre a:hover{
  background-color: transparent;
}
*/
a {
  text-decoration: none;
  color: #FFFFAE;
}
.section a{
  text-decoration: underline;
}
.section a:hover, .section a.disabled{
  background-color: #FFF;
  color: #000;
  text-decoration: none;
}
.section a.disabled:hover{
  cursor: default !important;
}
.section pre a, .section pre a code,code.inline-code a{
  color: #0092D6 !important;
  text-decoration: none;
}
.section pre a:hover,code.inline-code a:hover{
  text-decoration: underline;
}
.section pre {
  overflow:auto;
}

.section h2 a, .btn-group a {
  text-decoration: none;
}
.section p{
  margin-bottom: 10px;
}
.btn-group a:hover {
  text-decoration: underline;
}
a:hover{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}
.section h2 a:hover{
  text-decoration: underline;
  background-color:transparent;
  color:#fff;
}
#query-refresher{
  margin:10px 0;

}
.btn-group .btn {
  margin-left:0 !important;
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
#download-csv{
  width:140px;
}
#builder-btns{
  position:relative;
}
#builder-btns .btn img{
  position: relative;
  top: 3px;
}
.btn:hover{
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}
.btn:active {
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.btn.active {
  background-color: #FFFFC5;
  color: black;

}
.btn.active a:hover, #query-string-wrapper .btn.active:hover{
  cursor:default;
  text-decoration: none;
}

li#logo{
  margin: 0 0 15px 0 !important;
  padding: 0;
  height:148px;
}

#logo img{
  background: white;
  border: 3px black solid;
  width: 150px;
  padding: 0;
}
#logo a {
  padding: 0;
  height: 148px;
}
pre, code.inline-code{
  padding: 5px;
  background-color: #F8F8F8;
  border: 1px solid #747474;
}
code.inline-code{
  padding: 2px !important;
}
code {
  font-family: 'Courier', monospace;
}
form {
  padding: 20px;
}
#builder, #results-table-container {
  background: rgba(255,255,255,.5);
  padding: 20px;
  color: #000;
}
#results-table-holder{
  width:100%;
  overflow-x:scroll;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#results-container table{
  border-spacing: 0;
  text-align:left;
  font-size: 12px;

}
#results thead{
  border-spacing-bottom: 4px;
}
#results thead tr{
  font-weight:bold;
}
#results tbody tr:nth-child(odd) {
  background-color: rgb(193, 228, 242);
  background-color: rgba(255,255,255,.5);
}
#results tbody tr:nth-child(even) {
  background-color: white;
}
#results td, #results thead th{
  padding:6px;
  line-height: 15px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#results a{
  color: #000;
  padding:2px;
}
#results a:hover{
  background-color: #000;
  color: #fff;
}
#query-string {
  margin-top:3px;
  display: block;
  font-family: Courier, monospace;
}
#query-string-wrapper {
  margin-bottom: 20px;
}
#query-string-wrapper .btn, #query-string-wrapper .btn.active:active{
  top:-3px;
  left:auto;
  font-size:9px;
  margin:0 2px 0 5px;
  border: 1px solid;
  padding: 0.25em 0.5em;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px,;
}
#query-string-wrapper .btn:hover{
  text-decoration: underline;
  cursor:pointer;
  cursor:hand;
}
#query-string-wrapper .btn:active{
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 0px;
  left: 2px;
}
#query-asterisk-field{
  margin-top:25px;
}
#query-asterisk-field p{
  font-size: 10px;
  line-height:16px;
  margin-bottom:0 !important;
}
fieldset legend {
  display: none;
}


.highlight-link {
  background: white;
  font-weight: 700;
  color: black;
  padding: 0 2px;
}
.highlight-link:hover {
  background: black;
  color: white;
}
.bullet {
  color: #4FBAE7;
}

footer {
  font-family: "Droid Sans", sans-serif;
  background: black;
  color: white;
  padding: 24px 10px 20px 30px;
  margin-top: 100px;
  padding-left: 240px;
}
footer p {
  font-size: 13px;
  line-height: 24px;
  margin-top: 14px;
}

footer p:first-child {
  margin-top: 0;
}

textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: Courier, monospace;
  height:50px;
  overflow: auto;
  padding:5px;
}

textarea:focus{
  overflow: auto;
}
.code-container{
  width:100%;
}
#encoding-btns,#encoding-btns li{
  display:inline;
}
#contact ul{
  margin-bottom:10px;
}
#the-robot > ul{
  margin-left: 10px;
}
#the-robot ul ul{
  margin-left: 15px;
}
#the-robot ul ul li{
  list-style: disc inside;

}
#the-robot li,#contact li {
  margin-left: 10px;
  list-style: square inside;
}

#sql{
  overflow: hidden;
}

.placeholder-textfield{
  color:black;
}

.placeholder-textfield-active {
  color: #303030;
}

#builder-btns-overlay{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:transparent;
  z-index:9999;
}
.show-hide-table:hover{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  #container-fluid, #container-solid{
    margin:10px;
  }
  #container-fluid{
    margin-top:40px;
  }
  #title, #navmenu {
    position: inherit;
  }
  #title {
    text-align: center;
  }
  #subhead {
    display: none;
  }
  #section-wrapper {
    margin-left: 0;
  }
  #logo .btn{
    width: 156px;
    margin: 0 auto;
  }
  .btn-group .btn{
    margin-bottom:10px;
  }
  #title {
    padding-left: 0;
  }
}
