.bluedots {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2Nkiaqr/7OsqZEBChhhDAwBmEoMFQBP1QgFqojs0QAAAABJRU5ErkJggg==
    ) repeat;
  background-color:#0992CC;
  color:white;
}
::selection {
  background: #98ebb5; /* Safari */
}
::-moz-selection {
  background: #98ebb5; /* Firefox */
}

p strong{
  font-weight:bold;
}
input{
  margin: 0;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
  overflow: hidden;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.container-fluid:after {
  clear: both;
}
.clearfix{
  clear:both;
}
#hero {
  font-family: "Droid Sans", Helvetica, sans-serif;
  position:relative;
  z-index:9999;
}
#beta-marker{
  position: fixed;
  top: 19px;
  left: 186px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#title{
  overflow: hidden;
  filter: glow(color=black,strength=5);
  z-index: 5;
  display: block;
  position: fixed;
  top: 10px;
  left: 4px;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 5px 5px #000, 4px 4px #000, 3px 3px #000, 2px 2px #000, 1px 1px #000, -1px -1px 0 #000, -2px -2px 0 #000,  1px -1px 0 #000;
  text-align: left;
  text-transform: uppercase;
  padding: 20px 5px 20px 10px;
}
#subhead {
  position: fixed;
  top: 75px;
  left: 23px;
  text-align: center;
  font-size: 11px;
}
#subtitle {
  font-family: "Droid Sans", Helvetica, sans-serif;
  color: white;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: black;
  padding: 5px;
}

#subsubtitle {
  font-family: "Droid Sans", Helvetica, sans-serif;
  color: black;
  z-index: 1;
  position: absolute;
  top: 220px;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: white;
  padding: 5px;
}

nav{
  position: fixed;
  left: 33px;
  top:110px;
  z-index: 9999;

}
#query-encoding-options{
  margin-left:10px;
}
#query-encoding-options input:nth-child(2){
  margin-left:5px;
}
#navmenu ul li a{
  color:black;
}
#section-wrapper{
  margin-top:120px;
  margin-left:240px;
  font-family: "Droid Sans", Helvetica, sans-serif;
}
.section{
  width:85%;
  font-size:13px;
  line-height: 24px;
  margin: 20px;
}
h2{
  position:relative;
  font-weight:bold;
  margin: 40px 0;
  font-size: 30px;
  letter-spacing: 2px;
  padding-top:10px;
}
h2 a {
  color:white;
}
h2 a:hover{
  text-decoration:underline;
}
.bullet{
  position:absolute;
  left:-25px;
}
h2 a:hover .bullet{
  display:block;
}
h3 {
  font-size: 25px;
  letter-spacing: 1px;
  position:relative;
  font-weight:normal;
  margin: 35px 0 15px 0;
}
#builder h3{
  margin: 15px 0;
}
#builder-table-select{
  margin: 0 0 0 0;
  /*margin: 0 0 10px 0;*/
}
.btn, .btn-row-el{
  font-family: "Droid Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.5em 0.75em;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  background: #fff;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-item .btn {
    display: block;
}
.nav-item.active .btn{
  background: #FFFFBD;
}
.nav-item{
  display: block;
}
.btn.disabled, #chart-builder-options.disabled{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.btn.disabled:hover, #chart-builder-options.disabled{
  cursor:default;
  text-decoration: none;
}
.btn.disabled:active{
  top: 0;
  left: 0;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

/*.section pre a:hover{
  background-color: transparent;
}
*/
a {
  text-decoration: none;
  color: #FFFFAE;
}
.section a{
  text-decoration: underline;
}
.section a:hover, .section a.disabled{
  background-color: #FFF;
  color: #000;
  text-decoration: none;
}
.section a.disabled:hover{
  cursor: default !important;
}
.section pre a, .section pre a code,code.inline-code a{
  color: #0092D6 !important;
  text-decoration: none;
}
.section pre a:hover,code.inline-code a:hover{
  text-decoration: underline;
}
.section pre {
  overflow:auto;
}
.no-wrap{
  white-space: pre-line;
}
.section h2 a, .btn-group a {
  text-decoration: none;
}
.section p{
  margin-bottom: 10px;
}
.btn-group a:hover {
  text-decoration: underline;
}
a:hover{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}
.section h2 a:hover{
  text-decoration: underline;
  background-color:transparent;
  color:#fff;
}
#query-refresher{
  margin:10px 0;

}
.btn-group .btn {
  margin-right:0 !important;
  display:inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}
#download-csv{
  width:140px;
}
#builder-btns{
  position:relative;
  padding-right: 5px;
}
#builder-btns .btn img{
  position: relative;
  top: 3px;
}
.btn:hover{
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}
.btn:active {
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.btn.active {
  background-color: #FFFFC5;
  color: black;

}
.btn.active a:hover, #query-string-wrapper .btn.active:hover{
  cursor:default;
  text-decoration: none;
}

li#logo{
  margin: 0 0 15px 0 !important;
  padding: 0;
  height:148px;
}

#logo img{
  background: white;
  border: 3px black solid;
  width: 150px;
  padding: 0;
}
#logo a {
  padding: 0;
  height: 148px;
}
pre, code.inline-code{
  padding: 5px;
  background-color: #F8F8F8;
  border: 1px solid #747474;
}
code.inline-code{
  padding: 2px !important;
}
code {
  font-family: 'Courier', monospace;
}
form {
  padding: 20px;
}
#builder, #results-table-container {
  background: rgba(255, 255, 255, .5); /* TK TODO remove rgba for better browser compatibility */
  padding: 10px;
  color: #000;
}
.builder-item{
  padding: 0 10px;
}
#results-table-holder{
  width: 100%;
  height: 380px;
  overflow-x:scroll;
  overflow-y:scroll;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#results-container table{
  border-spacing: 0;
  text-align:left;
  font-size: 10px;

}
#results thead{
  border-spacing-bottom: 4px;
}
#results thead tr{
  font-weight:bold;
}
#results tbody tr:nth-child(odd) {
  background-color: rgb(193, 228, 242);
  background-color: rgba(255,255,255,.5);
}
#results tbody tr:nth-child(even) {
  background-color: white;
}
#results td, #results thead th{
  padding:5px;
  line-height: 11px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#results a{
  color: #000;
  padding:2px;
}
#results a:hover{
  background-color: #000;
  color: #fff;
}
.placeholder-textfield {
  margin-top:3px;
  display: block;
  font-family: Courier, monospace;
}
#query-string-wrapper {
  margin-bottom: 20px;
}
#query-string-wrapper .btn, #query-string-wrapper .btn.active:active{
  top:-3px;
  left:auto;
  font-size:9px;
  margin:0 2px 0 5px;
  border: 1px solid;
  padding: 0.25em 0.5em;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px,;
}
#query-string-wrapper .btn:hover{
  text-decoration: underline;
  cursor:pointer;
  cursor:hand;
}
#query-string-wrapper .btn:active{
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 0px;
  left: 2px;
}
#query-asterisk-field{
  margin-top:25px;
}
#query-asterisk-field p{
  font-size: 10px;
  line-height:16px;
  margin-bottom:0 !important;
}
fieldset legend {
  display: none;
}


.highlight-link {
  background: white;
  font-weight: 700;
  color: black;
  padding: 0 2px;
}
.highlight-link:hover {
  background: black;
  color: white;
}
.bullet {
  color: #4FBAE7;
}

footer {
  font-family: "Droid Sans", sans-serif;
  background: black;
  color: white;
  padding: 24px 10px 20px 30px;
  margin-top: 100px;
  padding-left: 240px;
}
footer p {
  font-size: 13px;
  line-height: 24px;
  margin-top: 14px;
}

footer p:first-child {
  margin-top: 0;
}

textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: Courier, monospace;
  height:50px;
  overflow: auto;
  padding:5px;
}

textarea:focus{
  overflow: auto;
}
.code-container{
  width:100%;
}
#encoding-btns,#encoding-btns li{
  display:inline;
}
#contact ul{
  margin-bottom:10px;
}
#the-robot > ul{
  margin-left: 10px;
}
#the-robot ul ul{
  margin-left: 15px;
}
#the-robot ul ul li{
  list-style: disc inside;

}
#the-robot li,#contact li {
  margin-left: 10px;
  list-style: square inside;
}

#sql{
  overflow: hidden;
}

.placeholder-textfield{
  color:black;
}

.placeholder-textfield-active {
  color: #303030;
}
/* Make these slightly more gray so that yo can easily see what you haven't filled in yet, whereas in the sql output, you'll never have the placeholder up next to a non-placeholder value. But a light gray doesn't look good on load for the query builder.*/
#chart-builder-options .placeholder-textfield-active {
  color: #818181;
}

#builder-btns-overlay{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:transparent;
  z-index:9999;
}
.show-hide-table:hover{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}
#chart-builder-options{
  position: relative;
  display:inline-block;
  -webkit-box-shadow:  0 0 7px #416B80;
  -moz-box-shadow:  0 0 7px #416B80;
  box-shadow:  0 0 7px #416B80;
  padding: 10px;
  border: 1px solid #6F8C9B;
}
#chart-builder-options p {
  margin-bottom: 0;
}
.chart-builder-title{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.chart-builder-option-box{
  /*display: inline-block;*/
  /*margin-right: 20px;*/
  /*float:left;*/
  line-height:20px;
  /*max-width: 170px;*/
}
#chart-builder-options p.chart-builder-option-box-title{
/*  font-size:13px;
  margin-bottom:5px;
*/}
.chart-builder-input-text{
  margin: 2px 0 8px 0;
/*  display:block;
  width: 96%;
*/  height: 15px;

}
.chart-builder-submit{
  margin-top:5px;
  max-width: 170px;
  /*float:left;*/
  margin-right: 28px; /* Helps keep this inline with the radio buttons when window is resized */
}
.chart-builder-submit .btn{
  padding: 0 .75em;
  border-width:2px;
  /*width:87%;*/
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  /*box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;*/

}
.chart-builder-submit .btn:active{
  top: 2px;
  left: 2px;
/*  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
*/  box-shadow: 0 0 0;
}
.chart-builder-submit .btn.disabled:active{
  top: 0;
  left: 0;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
}
#chart-container{
}

#chart-canvas{
  width: 100%;
  margin: 0 auto;
  height: 400px;
}
.radio-btn-text{
  font-size:12px;
}
.radio-btn-fixed-width{
  width: 68px;
  display: inline-block;
}
/* Query charter */
.qb-table-name{
  font-size: 14px;
  margin: 10px 0 5px 0;
  font-weight: bold;
}
.qb-table-available-columns{
  line-height: 14px;
}
.qb-table-sentence{
  margin-top: 10px;
}
.sentence-option{
  vertical-align: top;
  display: inline-block;
  background-color: #f9fdff;
  padding: 0;
  margin: 0 2px;
  font-size: 12px;
}
.sentence-group{
}
.sentence-group li{
padding: 0 6px 0 5px;
  list-style: none;
}
.ui-widget{
  font-size: .6em !important;
}
.hasDatepicker{
  width: 80px;
} 
.qc-textfield-option img{
  margin-left: 2px;
  width: 15px;
  position: relative;
  top: 1px;
}
.qc-textfield-option img:hover{
  cursor: pointer;
  cursor: hand;
}
/* BEGIN QUERY VIEWER CODE */
#query-viewers-wrapper{
  width: 100%;
  overflow: visible;
}
.query-viewer{
  width: 49%;
  /*background-color: #f0c;*/
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.query-preview-button-wrapper{
  text-align: right;
  position: relative;
}
#toggle-chart-options{
  display: inline-block;
  margin-right: 5px;
}
#chart-builder-options{
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  right: 89px;
  background-color: #82C6E4;
  z-index: 99999;
  font-size: 12px;
}
#toggle-chart-options.hidden #chart-builder-options{
  /*display: none;*/
}
#chart-builder-options label{
  display: block;
  line-height: 12px;
  margin-bottom: 4px;
}
.toggle-chart-opts{
  text-align: right;
  font-size: 10px;
  line-height: 8px;
}
.chart-builder-close-btn{
  position: relative;
  top: -2px;
  left: 3px;
}
#toggle-chart-options:hover, .chart-builder-close-btn:hover, #toggle-query-viewers:hover{
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
#toggle-query-viewers{
  text-align: right;
}
.t2-item .sentence-group{
  width: 137px;
  line-height: 14px;
  height: 100px;
  overflow-y: scroll;
}
.t2-item .sentence-group li{
  padding: 4px;
}
.sentence-group li:nth-child(odd) {
  background-color: rgba(9, 146, 204, 0.25); 
}

/* end query viewer coe */

/*#qb-table-builders{
  width:100%;
  font-size: 12px;
  overflow: auto;
}
.qb-table-builder{
  width: 100%;
  overflow: auto;
}
.qb-table-builder.queryable-table{
  display: block;
}
.qc-table-bucket{
  display: none;
}
.qc-col-bucket{
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin-right: 10px;
}
.qc-col-bucket-hed{
  text-align: center;
}
.qc-col-ctnr{
  display: inline-block;
  width: 100%;
  margin: 0 0 10px 0;
  vertical-align: top;
  background-color: #F9FDFF;
  -webkit-box-shadow:0px 0 12px rgba(0,0,0,.25);
  -moz-box-shadow:0px 0 12px rgba(0,0,0,.25);
  box-shadow:0px 0 12px rgba(0,0,0,.25);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.qc-col-header{
  overflow: auto;
  padding: 5px 5px 3px 5px;
  line-height: 15px;
  font-size: 10px;
}
.qc-col-control-all{
  float: right;
  text-align: right;
  padding-right: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.qc-col-name{
  font-weight: bold;
}
.qc-col-name span{
  font-size: 10px;
  font-weight: normal;
}
.qc-values-ctnr{
  max-height: 180px;
  overflow-y: scroll;
  border-top: 1px solid #969696;
  -moz-box-shadow: inset 0 20px 7px -20px #666666;
  box-shadow: inset 0 20px 7px -20px #666666;
  border-top: 6px;
  border-bottom:0;
  border-left:0;
  border-right:0;
}
.qc-values-ctnr li{
  line-height: 14px;
  font-size: 11px;
  padding: 7px 5px 5px 5px;
}
.qc-values-ctnr li:nth-child(odd) {
  background-color: rgba(9, 146, 204, 0.25); 
}
.qc-values-ctnr li{
  display: none;
}
.qc-values-ctnr li.queryable-item{
  display: block;
}
.qc-col-main-controls{
  font-size: 11px;
  color: #7E7E7E;
  position: relative;
  top: -1px;
  line-height: 11px;  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.qc-col-main-controls span{
  padding: 1px 1px 1px 1px;
  display: inline-block;
}
.qc-col-main-controls .col-filter{
  float: right;
}
.qc-col-main-controls span:hover,label:hover{
  cursor: pointer !important;
  cursor: hand !important;
}
.qc-col-main-controls .col-filter:hover{
  text-decoration: underline;

}
.qc-col-main-controls span.active{
  color: #fff;
  background-color: #000;
}
.qc-col-controls{
  line-height: 0px;
  margin-top: 4px;
  display: none;
  float:right;
  color: #7E7E7E;
}
.query-checkbox-controller{
  font-size: 10px;
  display: inline-block;
  margin-left: 5px;
}
.ui-widget{
  font-size: .6em !important;
}
.hasDatepicker{
  width: 80px;
} 
.qc-textfield-option img{
  margin-left: 2px;
  width: 15px;
  position: relative;
  top: 1px;
}

.qc-textfield-option img:hover{
  cursor: pointer;
  cursor: hand;
}

.textbox-label-text{
  display: inline-block;
  width: 25px;
}
*/
.help-text-ctnr{
  position:relative;
}

.help-text-flag{
  font-size: 8px;
  vertical-align: super;
  padding: 2px 1px 0 1px;
}
.help-text-flag:hover{
  cursor: hand;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
#qb-help-text-hover{
  position: absolute;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 3px 5px 3px 10px;
  max-width: 100px; 
  font-family: 'droid sans';
  font-size: 12px;
}


/* end query builder styles*/
@media screen and (max-width: 640px) {
  #container-fluid, #container-solid{
    margin:10px;
  }
  #container-fluid{
    margin-top:40px;
  }
  #title, #navmenu {
    position: inherit;
  }
  #title {
    text-align: center;
  }
  #subhead {
    display: none;
  }
  #section-wrapper {
    margin-left: 0;
  }
  #logo .btn{
    width: 156px;
    margin: 0 auto;
  }
  .btn-group .btn{
    margin-bottom:10px;
  }
  #title {
    padding-left: 0;
  }
  .radio-btn-fixed-width{
    width: 55px;
  }
  .chart-builder-submit .btn{
    width: 77%;
  }
  .query-viewer{
    width: 98%;
  }
}
